---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostLink from "../components/BlogPostLink.astro";
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---
<BaseLayout pageTitle = {pageTitle}>
    <p>Here I talk about me and mine</p>

    <ul>
      {allPosts.map((post) => <BlogPostLink url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayout>
  
