---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header>
    <Hamburger />
    <ThemeIcon />
    <nav>
        <Navigation />
    </nav>
    <script>
        import "../scripts/menu.js"
      </script>
</header>